$c-purple: hsl(294, 65%, 29%);
$c-yellow: hsl(46, 95%, 67%);
$c-purple-light: hsl(288, 34%, 63%);
$c-pink: hsl(336, 89%, 59%);
$c-darkgray: hsl(0, 0%, 20%);
$c-lightgray: hsl(0, 0%, 93%);
$c-black: hsl(0, 0%, 0%);
$c-white: hsl(0, 0%, 100%);


$c-grad: linear-gradient(90deg, rgba(251,215,93,0.54) 0%, rgba(112,26,122,1) 50%, rgba(251,215,93,0.54) 100%);
$c-grad-reverse: linear-gradient(-90deg, rgba(251,215,93,1) 0%, rgba(112,26,122,0.5) 50%, rgba(255,255,255,1) 100%);
$c-grad-mobile: linear-gradient(90deg, rgba(112,26,122,0.55) 0%, rgba(251,215,93,0.55) 100%);
$c-grad-radial: radial-gradient(circle, rgba(251,215,93,1) 25%, rgba(112,26,122,1) 100%);
$c-grad-radial-reverse:radial-gradient(circle, rgba(112,26,122,.0) 0%, rgba(251,215,93,0.8) 100%);