@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400;500;700&family=Nunito:wght@300;400;700&family=Pacifico&display=swap');

$font-pacifico: 'Pacifico', cursive;
$font-nunito: 'Nunito', sans-serif;
$font-arch-daughter: 'Architects Daughter', cursive;
$font-caveat: 'Caveat', cursive;