@use './scss/utils/' as *;


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  display: flex;
  flex-direction: column;
  gap: rem(16);
  margin-top: rem(16);
  @include breakpoint(medium){
    margin-top: rem(24);
    gap: rem(24);
  }
  .content-title{
    background: $c-grad-rad-yellow;
    text-align: center;
    color: $c-purple;
    font-weight: 700;
    font-size: rem(18);
    
    @include breakpoint(medium){
      margin-top: rem(24);
      font-size: rem(24);
      padding: 0 rem(64);
    }
  }

  .portfolio{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 rem(16);
    gap: rem(16);

    @include breakpoint(medium){
      padding: 0 rem(64);
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      border-radius: rem(10);
      overflow: hidden;
      transition: all 500ms;
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        transform: translateY(-5px);
        .thumb img{
          filter: grayscale(0);
        }
      }
      .thumb{
        max-width: rem(400);
        height: rem(200);

        @include breakpoint(medium){
          max-width: none;
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          // filter: grayscale(100%);
          transition: filter 500ms;
        }
      }
      .title{
        display: block;
        padding: rem(8) 0;
        text-align: center;
        font-weight: 700;
        color: $c-purple;
      }
    }
  }
}
